.transport {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .buttongroup{
   float: right;
      }

  input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin: 0 10px
  }


 
}
